  body {
    margin: 0;
    font-family: Arial;
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  img{
    border: 0;
    vertical-align: middle;
    width: 150px;
    margin-top: 55px;
  }
  

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
  }
   
  .sidebar a.active {
    color: orange;
  }
  
  .sidebar a:hover {
    color: rgb(55, 194, 240);
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 600px) {
    
    ul{
      margin-bottom: 55px;
    }

    .sidebar{
      background-color: rgb(235, 181, 82);
    }
    
    .sidebar a {
      text-align: center;
      float: none;
    }

    .sidebar a.active {
      color: white;
    }

  }
