body {
	background-color: #d6d5d2;
}

h1 {
	text-align:left;
	font-size:25px;
	font-family: "Courier New";
	padding-top:100px;
	padding-left:70px;
	font-weight: bold;
}

.sidenav {
	
	margin: 0;
	padding-top:100px;
	padding-bottom:100cm;
}

.div1 {
	
	width:250px;
	height:100%;
	display:inline-block;
	background-color: white;
	margin-top: 0px;
 	padding: 0;
  	position: fixed;
  	overflow: hidden;
}	
